<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        textarea{
            width: 300px;
            height: 100px;
            resize: none;
        }
    </style>
</head>
<body>
    <form action="/createblog" method="POST">
    <textarea name="msg" placeholder="type your message here.."></textarea>
    <button>Submit</button>
    </form>
</body>
</html>